praw
python-dotenv
pandas
tqdm
requests
beautifulsoup4
lxml
faker
numpy
playwright
sentence-transformers
scikit-learn
datasets
# NER dependencies
spacy
scispacy
# Model required: https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
